openapi: 3.2.0
info:
  version: 0.1.1
  title: Back Market - API Guidelines Orders API
  description: '## Table of contents


    1.'
  contact:
    name: Seller Support Center
    url: https://merchant-support.backmarket.com/hc/en-us
    x-slack: NA
    email: NA@NA.com
servers:
- url: https://preprod.backmarket.co.jp
  description: Preprod - AP
- url: https://www.backmarket.co.jp
  description: Prod - AP
- url: https://preprod.backmarket.fr
  description: Preprod - EU
- url: https://www.backmarket.fr
  description: Prod - EU
- url: https://preprod.backmarket.com
  description: Preprod - NA
- url: https://www.backmarket.com
  description: Prod - NA
tags:
- name: Orders
paths:
  /ws/orders:
    get:
      summary: Get the orders
      description: Gets the orders for a given merchant and set of filters.
      x-tier: 2
      operationId: get-ws-list-order
      tags:
      - Orders
      security:
      - BasicAuth: []
      parameters:
      - name: date_creation
        in: query
        description: Filter to get orders by their date of creation in RFC3339 format
        schema:
          type: string
          format: date-time
        example: '2014-06-24T12:55:57Z'
        required: false
      - name: date_modification
        in: query
        description: Filter to get orders by their date of last modification in RFC3339 format
        schema:
          type: string
          format: date-time
        example: '2014-06-24T12:55:57Z'
        required: false
      - name: country_code
        in: query
        description: Filter on the order country of origin
        schema:
          $ref: '#/components/schemas/CountryCode'
        example: fr-fr
        required: false
      - name: state
        in: query
        description: Filter on the order state. See OrderState object for more details.
        schema:
          $ref: '#/components/schemas/OrderState'
        example: 1
        required: false
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: Return the orders matching the filter in the query parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    example: 25
                  next:
                    type:
                    - string
                    - 'null'
                    example: https://www.backmarket.fr/bm/merchants/users?page=3
                  previous:
                    type:
                    - string
                    - 'null'
                    example: https://www.backmarket.fr/bm/merchants/users?page=1
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Order'
        '400':
          description: Bad request
        '403':
          description: Forbidden
        '404':
          description: Webservices unavailable
  /ws/orders/{order_id}:
    get:
      summary: Get a specific order
      x-tier: 2
      operationId: get-ws-specific-order
      tags:
      - Orders
      security:
      - BasicAuth: []
      parameters:
      - in: path
        name: order_id
        schema:
          type: integer
        required: true
        description: The order identifier
        example: 1
      responses:
        '200':
          description: Return the order with the specified id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '400':
          description: Bad request
        '403':
          description: Forbidden
        '404':
          description: Webservices unavailable
    post:
      summary: Update a specific order
      description: 'During shipping all orderlines are gathered in the same package. It is not necessary to specify the SKU when

        updating an order to state 3; indeed, every orderline of this order will be set to this state automatically.


        Merchants recover an order on state 1.'
      x-tier: 2
      operationId: update-ws-specific-order
      tags:
      - Orders
      security:
      - BasicAuth: []
      parameters:
      - in: path
        name: order_id
        schema:
          type: integer
        required: true
        description: The order identifier
        example: 1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrder'
      responses:
        '200':
          description: Return the order with the specified id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '400':
          description: Bad request
        '403':
          description: Forbidden
        '404':
          description: The listing doesn't exist
  /ws/orders/{order_id}/invoice:
    post:
      summary: Update customer invoice for order
      x-tier: 2
      operationId: post-ws-specific-order-invoice
      tags:
      - Orders
      security:
      - BasicAuth: []
      parameters:
      - in: path
        name: order_id
        schema:
          type: integer
        required: true
        description: The order identifier
        example: 1
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                invoice:
                  type: array
                  items:
                    type: string
                    format: binary
      responses:
        '200':
          description: The invoice has been updated
        '400':
          description: Bad request
        '403':
          description: Forbidden
        '404':
          description: Order doesn't exist
components:
  schemas:
    Address:
      type: object
      properties:
        id:
          type: integer
          example: 1
        country:
          type: string
          description: ISO 3166-1 alpha-2 country code.
          example: FR
        city:
          type: string
          example: Paris
        postalCode:
          type: string
          example: '75003'
        firstName:
          type: string
          example: Victor
        lastName:
          type: string
          example: Hugo
        company:
          type: string
          example: backmarket
        phoneNumber:
          type: string
          description: E.164 formatted phone number.
          example: '+33639981234'
        state:
          type: string
          example: California
        street:
          type: string
          example: 3, Imaginary Street
        street2:
          type: string
          example: Apartement X
    OrderLineState:
      type: integer
      enum:
      - 0
      - 9
      - 8
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      description: 'Orderline state.


        | State | Description                                                                                                  | Possible next states |

        |-------|--------------------------------------------------------------------------------------------------------------|----------------------|

        | 0     | New orderline. The merchant has to wait for payment confirmation.                                            | Not possible         |

        | 9     | Orderline is on hold. It needs to be validated by our partner before being accepted by the merchant.         | Not possible         |

        | 8     | Orderline is pending. The customer has ordered but still have time to pay. Merchant has to wait for payment. | Not possible         |

        | 1     | Orderline is paid. The merchant has received the payment and must validate or cancel the orderline.          | 2 or 4               |

        | 2     | Orderline is accepted by the merchant, who must now prepare the product for shipment.                        | 3 or 5               |

        | 3     | The merchant has delivered the orderline to the shipping company. The package delivery is in progress.       | 6                    |

        | 4     | Orderline is cancelled. The customer will be refunded for the orderline.                                     | Not possible         |

        | 5     | Orderline is refunded before shipping.                                                                       | Not possible         |

        | 6     | Orderline is refunded after shipping. The customer made a refund request.                                    | Not possible         |

        | 7     | Orderline is not paid. The payment has been refused by the bank.                                             | Not possible         |

        '
      example: 1
    ReturnReason:
      type: integer
      enum:
      - 0
      - 1
      - 11
      - 12
      - 13
      - 21
      - 22
      - 23
      - 24
      - 25
      description: 'Reason for the return.


        | Value | Description                               |

        |-------|-------------------------------------------|

        | 0     | Stock mistake                             |

        | 1     | Withdrawal during the legal 14 day period |

        | 11    | Does not live at provided address         |

        | 12    | The parcel did not reach its destination  |

        | 13    | Lost parcel                               |

        | 21    | Faulty product on opening of the package  |

        | 22    | Failure during first use                  |

        | 23    | Failure during warranty period            |

        | 24    | Non-compliant product                     |

        | 25    | Other                                     |

        '
      example: 0
    Order:
      type: object
      properties:
        order_id:
          type: integer
          description: The unique id of the order. Used to update orderlines of a given order
          example: 5978
        shipping_address:
          $ref: '#/components/schemas/Address'
        billing_address:
          $ref: '#/components/schemas/Address'
        delivery_note:
          type: string
          maxLength: 300
          format: url
          example: https://example.com/delivery_note/1519221434.69.pdf
          description: Document to add in package which contains useful information for the customer, related to his order.
        expected_dispatch_date:
          type: string
          format: date-time
          example: '2022-04-29T09:35:24'
          description: The shipment expected dispatch date (only applicable for orders not already SENT).
        tracking_number:
          type: string
          maxLength: 200
          example: my_tracking_number
          description: Tracking number of the package
        tracking_url:
          type: string
          maxLength: 300
          format: url
          example: http://www.colissimo.fr/my_tracking_url
          description: Tracking Url of the package
        shipper_display:
          type: string
          maxLength: 200
          example: Colissimo
          description: Name of the shipper
        is_backship:
          type: boolean
          example: false
          description: True if the shipper of the order is backship
        date_creation:
          type: string
          format: date-time
          example: '2022-04-29T09:35:24.123456Z'
          description: Date of order
        date_modification:
          type: string
          format: date-time
          example: '2022-04-29T09:35:24Z'
          description: Date of last modification
        date_shipping:
          type: string
          format: date-time
          example: '2022-04-29T09:35:24.123456Z'
          description: Date of shipping
        date_payment:
          type: string
          format: date-time
          example: '2022-04-29T09:35:24.123Z'
          description: Date of payment
        state:
          $ref: '#/components/schemas/OrderState'
        orderlines:
          type: array
          items:
            $ref: '#/components/schemas/OrderLine'
          description: List of orderlines of the order. Indexed by SKU
        price:
          type: string
          description: The total price of the order (including taxes) without the shipping price
          example: '299.25'
        shipping_price:
          type: string
          description: Total shipping price (including taxes)
          example: '5.99'
        currency:
          type: string
          maxLength: 3
          description: Currency used for the order
          example: EUR
        country_code:
          $ref: '#/components/schemas/CountryCode'
        paypal_reference:
          type:
          - string
          - 'null'
          maxLength: 17
          description: Paypal reference ID
          example: null
        installment_payment:
          type: boolean
          example: false
          description: Whether the customer chose a payment in multiple increments
        payment_method:
          description: 'The customer payment method (Eg: CARD, PAYPAL)'
          type: string
          example: PAYPAL
        sales_taxes:
          description: Sales taxes (country/state dependent)
          type: string
          example: '25.8'
    VatType:
      type: string
      enum:
      - REGULAR
      - MARGINAL
      example: MARGINAL
    OrderState:
      type: integer
      enum:
      - 0
      - 10
      - 1
      - 3
      - 8
      - 9
      description: 'Order state.


        | State | Description                                                                                                                                                   |

        |-------|---------------------------------------------------------------------------------------------------------------------------------------------------------------|

        | 0     | New order. Payment validation is pending. We are doing verifications to check the customer identity. The orders in this state must not be shipped.            |

        | 10    | Order is pending. The customer has ordered but still has time to pay. The merchant has to wait for payment, and the orders in this state must not be shipped. |

        | 1     | Payment is checked and validated. The merchant has to process (accept or cancel) the orderlines.                                                              |

        | 3     | Order shipping is pending. The payment and the order (i.e. all orderlines) have been validated. The merchant has to ship the package to the customer.         |

        | 8     | Order is not paid. Payment process has failed, and the merchant must ignore this order.                                                                       |

        | 9     | Order processed. The merchant has shipped the package.                                                                                                        |

        '
      example: 1
    CountryCode:
      type: string
      enum:
      - fr-fr
      - fr-be
      - es-es
      - de-de
      - de-at
      - it-it
      - ja-jp
      - en-au
      - en-gb
      - en-us
      - nl-nl
      - pt-pt
      - en-ie
      - el-gr
      - sk-sk
      - sv-se
      example: fr-fr
    UpdateOrder:
      type: object
      required:
      - id
      - new_state
      properties:
        order_id:
          type: integer
          description: Unique ID of the order. Specify the same order_id in the URL and in the body
          example: 5978
        new_state:
          $ref: '#/components/schemas/OrderLineState'
        sku:
          description: Merchant unique identifier of the listing, enables to match an orderline
          type: string
          example: IPHONE416GONLIB0
        imei:
          description: 'Identifier of product.


            Optional and processed if new_state is 3.

            Applicable to any product category.

            Once registered, the value cannot be corrected.

            Only if the order has only one orderline with a quantity of 1.

            The value needs to be a valid IMEI. Once registered, the value cannot be corrected.

            '
          type: string
          maxLength: 15
          example: 01141500934XXXX
        serial_number:
          description: 'Identifier of product.


            Optional and processed if new_state is 3.

            Applicable to any product category.

            Only if the order has only one orderline with a quantity of 1.

            Once registered, the value cannot be corrected.

            '
          type: string
          maxLength: 50
          example: ''
        tracking_number:
          type: string
          maxLength: 200
          example: my_tracking_number
          description: 'Tracking number of the package.


            Required if new_state is 3.

            '
        tracking_url:
          type: string
          maxLength: 300
          format: url
          example: http://www.colissimo.fr/my_tracking_url
          description: 'Tracking Url of the package.


            Optional and processed if new_state is 3.

            '
        vat_type:
          $ref: '#/components/schemas/VatType'
        date_shipping:
          type: string
          format: date-time
          example: '2022-04-29T09:35:24Z'
          description: 'Date of shipping.


            Optional and processed if new_state is 3.

            '
        shipper:
          type: string
          maxLength: 200
          description: 'Shipper designated.


            Shipper can be replaced if new_state is 3.

            '
        return_reason:
          $ref: '#/components/schemas/ReturnReason'
        return_message:
          maxLength: 500
          description: 'Message sent to the customer for a cancellation or a refund.


            Optional and processed if new_state is 6.

            '
          type: string
          example: We're sorry an error occurred with the order. You'll be reimbursed soon.
    OrderLine:
      type: object
      properties:
        id:
          type: integer
          description: The orderline unique ID
          example: 37195
        date_creation:
          type: string
          format: date-time
          example: '2022-04-29T09:35:24.123456Z'
          description: Date of creation of the orderline
        state:
          $ref: '#/components/schemas/OrderLineState'
        price:
          description: Price (including taxes) of the listing associated & warranty without the shipping price
          type: string
          example: '229.0'
        shipping_price:
          description: Unitary shipping price (including taxes)
          type: string
          example: '0.00'
        shipping_delay:
          description: Shipping time
          type: integer
          example: 48
        currency:
          type: string
          description: Currency used
          example: EUR
        return_reason:
          $ref: '#/components/schemas/ReturnReason'
        return_message:
          description: Message sent to the customer for a cancellation or a refund
          type: string
          example: ''
        listing:
          description: SKU of the listing
          type: string
          example: IPHONE416GONLIB0
        listing_id:
          description: ID of the listing
          type: integer
          example: 142
        orderline_fee:
          description: BackMarket commission fee amount
          type: string
          example: '22.9'
        product:
          description: Title of the product
          type: string
          example: Apple Iphone 4 16 Go - Noir - D\u00e9bloqu\u00e9
        quantity:
          type: integer
          description: Quantity of products ordered
          example: 2
        brand:
          description: The brand of the product
          type: string
          example: apple
        product_id:
          description: The product ID
          type: integer
          example: 141
        backcare:
          description: True if this orderline is covered by the Backcare service
          type: boolean
          example: true
        backcare_price:
          type: integer
          description: The backcare price in cents
          example: 500
        sales_taxes:
          description: Sales taxes (country/state dependent)
          type: string
          example: '25.8'
        imei:
          description: Unique product identifier
          type: string
          example: 011415009346880
        serial_number:
          description: Unique product identifier
          type: string
          example: ''
        condition:
          $ref: '#/components/schemas/ProductCondition'
    ProductCondition:
      type: integer
      enum:
      - 9
      - 10
      - 11
      - 12
      description: 'Condition of the product.


        | Value | Description         |

        |-------|---------------------|

        | 9     | Premium condition   |

        | 1O    | Excellent condition |

        | 11    | Good condition      |

        | 12    | Fair condition      |

        '
      example: 10
  parameters:
    Page:
      description: The page number for pagination
      example: 2
      in: query
      name: page
      required: false
      schema:
        default: 1
        type: integer
    PageSize:
      description: The page size for pagination
      example: 20
      in: query
      name: page-size
      required: false
      schema:
        default: 10
        type: integer
        maximum: 50
  securitySchemes:
    ApiKeyAuth:
      in: header
      name: Authorization
      type: apiKey
      description: 'Token authentication is done with Basic authentication.

        Prefix the value with \"Basic\" and use the token you created in the backoffice in the Integrations option page.'
    BasicAuth:
      type: http
      scheme: basic
