openapi: 3.2.0
info:
  version: 0.1.1
  title: Back Market - API Guidelines Orderline API
  description: '## Table of contents


    1.'
  contact:
    name: Seller Support Center
    url: https://merchant-support.backmarket.com/hc/en-us
    x-slack: NA
    email: NA@NA.com
servers:
- url: https://preprod.backmarket.co.jp
  description: Preprod - AP
- url: https://www.backmarket.co.jp
  description: Prod - AP
- url: https://preprod.backmarket.fr
  description: Preprod - EU
- url: https://www.backmarket.fr
  description: Prod - EU
- url: https://preprod.backmarket.com
  description: Preprod - NA
- url: https://www.backmarket.com
  description: Prod - NA
tags:
- name: Orderline
paths:
  /ws/orderlines/{orderline_id}:
    patch:
      summary: Update a specific orderline
      x-tier: 2
      operationId: update-ws-specific-orderline
      tags:
      - Orderline
      security:
      - BasicAuth: []
      parameters:
      - in: path
        name: orderline_id
        schema:
          type: integer
        required: true
        description: The orderline identifier
        example: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              minProperties: 1
              properties:
                imei:
                  type: string
                  maxLength: 15
                  example: '153124587625348'
                  description: 'Unique device identifier.

                    Applicable to any product category.

                    Once registered, the value cannot be corrected.

                    '
                serial_number:
                  type: string
                  maxLength: 50
                  example: SN-ABC123XYZ
                  description: 'Unique product serial number.

                    Applicable to any product category.

                    Once registered, the value cannot be corrected.

                    '
              description: 'At least one of `imei` or `serial_number` must be provided. Both can be submitted in a single request.

                '
      responses:
        '200':
          description: Returns the identifiers updated on the orderline
          content:
            application/json:
              schema:
                type: object
                properties:
                  imei:
                    type: string
                    maxLength: 15
                    example: '153124587625348'
                  serial_number:
                    type: string
                    maxLength: 50
                    example: SN-ABC123XYZ
        '400':
          description: Bad request
        '403':
          description: Forbidden
        '404':
          description: The orderline doesn't exist
        '422':
          description: Unprocessable entity
components:
  securitySchemes:
    ApiKeyAuth:
      in: header
      name: Authorization
      type: apiKey
      description: 'Token authentication is done with Basic authentication.

        Prefix the value with \"Basic\" and use the token you created in the backoffice in the Integrations option page.'
    BasicAuth:
      type: http
      scheme: basic
