openapi: 3.2.0
info:
  version: 0.1.1
  title: Back Market - API Guidelines Backship API
  description: '## Table of contents


    1.'
  contact:
    name: Seller Support Center
    url: https://merchant-support.backmarket.com/hc/en-us
    x-slack: NA
    email: NA@NA.com
servers:
- url: https://preprod.backmarket.co.jp
  description: Preprod - AP
- url: https://www.backmarket.co.jp
  description: Prod - AP
- url: https://preprod.backmarket.fr
  description: Preprod - EU
- url: https://www.backmarket.fr
  description: Prod - EU
- url: https://preprod.backmarket.com
  description: Preprod - NA
- url: https://www.backmarket.com
  description: Prod - NA
tags:
- name: Backship
paths:
  /ws/shipping/v1/deliveries:
    get:
      description: 'This API is for merchants who are subscribed to the BackShip service.


        Once an orderline has been accepted via the Orderline API, a shipping label is automatically created corresponding

        to this orderline and can be retrieved from this endpoint via the field `labelUrl`.

        The state of the orderline must be updated once the product has been shipped.'
      operationId: GetDeliveries
      parameters:
      - description: Page number
        example: 2
        in: query
        name: page
        schema:
          type: integer
      - description: Order ID
        example: 42
        in: query
        name: order_id
        schema:
          type: integer
      - description: Get deliveries created at and after this datetime
        example: '2021-05-05T06:58:31'
        in: query
        name: start_date
        schema:
          format: date-time
          type: string
      - description: Get deliveries created before and at this datetime
        example: '2021-05-05T06:58:31'
        in: query
        name: end_date
        schema:
          format: date-time
          type: string
      - description: Get deliveries picked up at and after this datetime
        example: '2021-05-05T06:58:31'
        in: query
        name: pickup_start_date
        schema:
          format: date-time
          type: string
      - description: Get deliveries picked up before and at this datetime
        example: '2021-05-05T06:58:31'
        in: query
        name: pickup_end_date
        schema:
          format: date-time
          type: string
      - description: State of the order
        example: 3
        in: query
        name: order_state
        schema:
          enum:
          - 0
          - 1
          - 3
          - 8
          - 9
          type: integer
      - description: Whether shipments label have been scanned
        example: true
        in: query
        name: hub_scanned
        schema:
          type: boolean
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  count:
                    description: Total number of deliveries
                    example: 42
                    type: integer
                  next:
                    description: Url to get the next paginated deliveries list. Null if no next page
                    example: https://preprod.backmarket.fr/ws/shipping/v1/deliveries?page=2
                    type:
                    - string
                    - 'null'
                  previous:
                    description: Url to get the previous paginated deliveries list. Null if no previous page
                    example: https://preprod.backmarket.fr/ws/shipping/v1/deliveries?page=1
                    type:
                    - string
                    - 'null'
                  results:
                    description: List of deliveries
                    items:
                      $ref: '#/components/schemas/Delivery'
                    type: array
                required:
                - count
                - next
                - previous
                - results
                type: object
          description: List of deliveries
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderIdValidationError'
          description: Unprocessable Entity
      summary: Return deliveries list
      tags:
      - Backship
      x-category: domain
      x-tier: 2
      security:
      - ApiKeyAuth: []
      - BasicAuth: []
  /ws/shipping/v1/returns:
    get:
      summary: Return product returns list
      description: 'This API is for merchants who are subscribed to the BackShip service.


        Once a product return has been created, a shipping label is automatically created corresponding to this return

        and can be retrieved from this endpoint via the field `label`.'
      operationId: GetReturns
      tags:
      - Backship
      x-tier: 2
      security:
      - ApiKeyAuth: []
      - BasicAuth: []
      parameters:
      - name: page
        in: query
        description: Page number
        schema:
          type: integer
        example: 2
      - name: order_id
        in: query
        description: Order ID
        schema:
          type: integer
        example: 42
      - name: start_date
        in: query
        description: Get returns created at and after this datetime
        schema:
          type: string
          format: date-time
        example: '2021-05-05T06:58:31'
      - name: end_date
        in: query
        description: Get returns created before and at this datetime
        schema:
          type: string
          format: date-time
        example: '2021-05-05T06:58:31'
      - name: pickup_start_date
        in: query
        description: Get returns picked up at and after this datetime
        schema:
          type: string
          format: date-time
        example: '2021-05-05T06:58:31'
      - name: pickup_end_date
        in: query
        description: Get returns picked up before and at this datetime
        schema:
          type: string
          format: date-time
        example: '2021-05-05T06:58:31'
      - name: order_state
        in: query
        description: State of the order
        schema:
          type: integer
          enum:
          - 0
          - 1
          - 3
          - 8
          - 9
        example: 3
      - name: hub_scanned
        in: query
        description: Whether shipments label have been scanned
        schema:
          type: boolean
        example: true
      responses:
        '200':
          description: List of returns
          content:
            application/json:
              schema:
                type: object
                required:
                - count
                - next
                - previous
                - results
                properties:
                  count:
                    type: integer
                    description: Total number of returns
                    example: 42
                  next:
                    type:
                    - string
                    - 'null'
                    description: Url to get the next paginated returns list. Null if no next page
                    example: https://preprod.backmarket.fr/ws/shipping/v1/returns?page=2
                  previous:
                    type:
                    - string
                    - 'null'
                    description: Url to get the previous paginated returns list. Null if no previous page
                    example: https://preprod.backmarket.fr/ws/shipping/v1/returns?page=1
                  results:
                    type: array
                    description: List of returns
                    items:
                      $ref: '#/components/schemas/Return'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderIdValidationError'
  /ws/shipping/v1/deliveries/{id}:
    get:
      description: 'This API is for merchants who are subscribed to the BackShip service.


        Once an orderline has been accepted via the Orderline API, a shipping label is automatically created

        corresponding to this orderline and can be retrieved from this endpoint via the field `labelUrl`.

        The state of the orderline must be updated once the product has been shipped.'
      operationId: GetDelivery
      parameters:
      - description: Delivery ID
        example: 42
        in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Delivery'
          description: Delivery details
        '404':
          description: Delivery entry not found
      summary: Return details about a specific delivery
      tags:
      - Backship
      x-category: domain
      x-tier: 2
      security:
      - ApiKeyAuth: []
      - BasicAuth: []
  /ws/shipping/v1/returns/{id}:
    get:
      description: 'This API is for merchants who are subscribed to the BackShip service.


        Once a product return has been created, a shipping label is automatically created corresponding to this return

        and can be retrieved from this endpoint via the field `label`.'
      operationId: GetReturn
      parameters:
      - description: Return ID
        example: 42
        in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Return'
          description: Return details
        '404':
          description: Return entry not found
      summary: Return details about a specific product return
      tags:
      - Backship
      x-category: domain
      x-tier: 2
      security:
      - ApiKeyAuth: []
      - BasicAuth: []
components:
  schemas:
    Return:
      title: Return
      type: object
      required:
      - orderId
      - orderlineId
      - shipmentId
      - dateCreation
      - referenceNumber
      - trackingNumber
      - trackingUrl
      - carrierId
      - carrierName
      - hubScanned
      - datePickup
      - dateDelivery
      - label
      - invoicedPrice
      - invoicedCurrency
      - type
      properties:
        orderId:
          type: integer
          description: Order ID
          example: 42
        orderlineId:
          type: integer
          description: Orderline ID
          example: 42
        shipmentId:
          type: integer
          description: Shipment ID
          example: 42
        carrierId:
          type: integer
          description: Carrier ID
          example: 42
        carrierName:
          type: string
          description: Carrier name
          example: Chronopost
        dateCreation:
          type: string
          format: date-time
          description: Creation date
          example: '2021-05-05T06:58:31+02:00'
        referenceNumber:
          type: string
          description: Reference number
          example: 1-123123-22334
        trackingNumber:
          type: string
          description: Tracking number
          example: Jc2rnTAc4L
        trackingUrl:
          type: string
          description: Tracking url
          example: https://carrier.com/tracking/Jc2rnTAc4L
        hubScanned:
          type: boolean
          description: Whether the related shipment label have been scanned
          example: true
        datePickup:
          type: string
          format: date-time
          description: Pickup date
          example: '2021-05-05T06:58:31+02:00'
        dateDelivery:
          type: string
          format: date-time
          description: Delivery date
          example: '2021-05-05T06:58:31+02:00'
        label:
          type: string
          description: Label
          example: http://testserver/static/document.pdf
        invoicedPrice:
          type: integer
          description: Invoiced amount
          example: 30
        invoicedCurrency:
          type: string
          description: Invoice currency
          example: EUR
        type:
          type: string
          description: Type of return
          example: RETURN
    Delivery:
      title: Delivery
      type: object
      required:
      - order
      - shipmentId
      - carrierId
      - orderlines
      - referenceNumber
      - trackingNumber
      - trackingUrl
      - carrierName
      - hubScanned
      - invoicedCurrency
      - invoicedPrice
      - datePickup
      - dateCreation
      - dateDelivery
      - labelUrl
      - type
      - pickupInfo
      properties:
        order:
          type: integer
          description: Order ID
          example: 42
        shipmentId:
          type: integer
          description: Shipment ID
          example: 42
        carrierId:
          type: integer
          description: Carrier ID
          example: 42
        orderlines:
          type: array
          description: Orderlines
          items:
            type: integer
          example:
          - 42
        referenceNumber:
          type: string
          description: Reference number
          example: '1'
        trackingNumber:
          type: string
          description: Tracking number
          example: Jc2rnTAc4L
        trackingUrl:
          type: string
          description: Tracking url
          example: https://carrier.com/tracking/Jc2rnTAc4L
        carrierName:
          type: string
          description: Carrier name
          example: Chronopost
        hubScanned:
          type: boolean
          description: Whether the related shipment label have been scanned
          example: false
        invoicedCurrency:
          type: string
          description: Invoice currency
          example: EUR
        invoicedPrice:
          type: integer
          description: Invoiced amount
          example: 30
        datePickup:
          type: string
          format: date-time
          description: Pickup date
          example: '2021-05-05T06:58:31+02:00'
        dateCreation:
          type: string
          format: date-time
          description: Creation date
          example: '2021-05-05T06:58:31+02:00'
        dateDelivery:
          type: string
          format: date-time
          description: Delivery date
          example: '2021-05-05T06:58:31+02:00'
        labelUrl:
          type: string
          description: Label url
          example: /static/shipment_labels/eu-9075b45c-d736-4e51-83ec-3f2ae2888e3e-1.pdf
        type:
          type: string
          description: Type of delivery
          example: DELIVERY
        pickupInfo:
          $ref: '#/components/schemas/PickupInfo'
    OrderIdValidationError:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              example: E009
            message:
              type: string
              example: Validation error
          required:
          - code
          - message
        data:
          type: object
          properties:
            fields:
              type: object
              example:
                orderId:
                - An integer is needed.
          required:
          - fields
      required:
      - error
      - data
    PickupInfo:
      title: Pickup Info
      type: object
      required:
      - confirmationNumber
      - datePickupActual
      - datePickupRangeStart
      - datePickupRangeEnd
      - datePickupRequested
      - isCanceled
      - pickupId
      properties:
        confirmationNumber:
          type: string
          description: Confirmation number
          example: 1231NB
        datePickupActual:
          type: string
          description: Actual pickup date
          example: '2021-05-05T06:58:31+02:00'
        datePickupRangeStart:
          type: string
          description: Start date of pickup
          example: '2021-05-05T06:58:31+02:00'
        datePickupRangeEnd:
          type: string
          description: End date of pickup
          example: '2021-05-05T06:58:31+02:00'
        datePickupRequested:
          type: string
          description: Requested date for pickup
          example: '2021-05-05'
        isCanceled:
          type: boolean
          description: Pickup cancellation state
          example: false
        pickupId:
          type: integer
          description: Pickup ID
          example: 42
  securitySchemes:
    ApiKeyAuth:
      in: header
      name: Authorization
      type: apiKey
      description: 'Token authentication is done with Basic authentication.

        Prefix the value with \"Basic\" and use the token you created in the backoffice in the Integrations option page.'
    BasicAuth:
      type: http
      scheme: basic
