openapi: 3.2.0
info:
  version: 0.1.1
  title: Back Market - API Guidelines Listings API
  description: '## Table of contents


    1.'
  contact:
    name: Seller Support Center
    url: https://merchant-support.backmarket.com/hc/en-us
    x-slack: NA
    email: NA@NA.com
servers:
- url: https://preprod.backmarket.co.jp
  description: Preprod - AP
- url: https://www.backmarket.co.jp
  description: Prod - AP
- url: https://preprod.backmarket.fr
  description: Preprod - EU
- url: https://www.backmarket.fr
  description: Prod - EU
- url: https://preprod.backmarket.com
  description: Preprod - NA
- url: https://www.backmarket.com
  description: Prod - NA
tags:
- name: Listings
paths:
  /ws/listings:
    get:
      x-tier: 1
      summary: Get listings
      description: Retrieve all your `Listings`.
      security:
      - ApiKeyAuth: []
      - BasicAuth: []
      parameters:
      - example: 2
        in: query
        name: publication_state
        required: false
        schema:
          enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          type: integer
      - example: 0
        in: query
        name: min_quantity
        required: false
        schema:
          type: integer
      - example: 100
        in: query
        name: max_quantity
        required: false
        schema:
          type: integer
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PageSize'
      - description: 'Select what market will be used to apply filters and export data.

          Passed as the language code related to this market.

          '
        example: fr-fr
        in: header
        name: Accept-Language
        required: false
        schema:
          $ref: '#/components/schemas/Locale'
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  count:
                    example: 123
                    type: integer
                  next:
                    example: https://www.backmarket.fr/ws/listings?page=2
                    type:
                    - string
                    - 'null'
                  previous:
                    example: null
                    type:
                    - string
                    - 'null'
                  results:
                    items:
                      $ref: '#/components/schemas/ListingPublic'
                    type: array
                required:
                - count
                - next
                - previous
                - results
                type: object
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseV1'
          description: Unauthenticated.
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseV1'
          description: Forbidden. Authenticated user is not a merchant.
      tags:
      - Listings
      operationId: getWsListings
      x-operation-id-source: derived
    post:
      tags:
      - Listings
      x-tier: 1
      summary: Create or update products and listings
      description: '## Create listings


        Every merchant working with us can create a sale offer or a

        "`Listing`" of a `Product` in order to sell it on our marketplace.'
      security:
      - ApiKeyAuth: []
      - BasicAuth: []
      parameters:
      - name: Accept-Language
        in: header
        description: 'Select what market will be used to apply filters and export data.

          Passed as the language code related to this market.

          '
        required: false
        example: fr-fr
        schema:
          $ref: '#/components/schemas/Locale'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - catalog
              - quotechar
              - delimiter
              - encoding
              properties:
                catalog:
                  type: string
                  minLength: 1
                  description: 'A CSV file content as a string.

                    '
                  example: 'sku,quantity,price

                    MY_SKU,50,123.45'
                quotechar:
                  type: string
                  minLength: 1
                  maxLength: 1
                  description: The separator of columns for the 'catalog' CSV.
                  example: '"'
                delimiter:
                  type: string
                  minLength: 1
                  maxLength: 1
                  description: The delimiter of data for the 'catalog' CSV.
                  example: ','
                encoding:
                  type: string
                  minLength: 2
                  maxLength: 64
                  description: The encoding of data for the 'catalog' CSV.
                  example: utf-8
      responses:
        '200':
          description: OK. Task has been created and will be processed.
          content:
            application/json:
              schema:
                type: object
                required:
                - bodymessage
                - statuscode
                properties:
                  bodymessage:
                    type: integer
                    description: 'The batch identifier that can be used to retrieve its status with

                      the Get batch API [/ws/tasks/{taskId}](https://api.backmarket.dev/#/paths/ws-tasks-taskId/get).

                      '
                  statuscode:
                    type: integer
                    example: 200
        '400':
          description: Request data is invalid. A required field might be missing.
          content:
            application/json:
              schema:
                type: string
                description: An error message
                example: parameter catalog not found
        '401':
          description: Unauthenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseV1'
        '403':
          description: Forbidden. This ingestion channel could be disabled for the merchant.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseV1'
        '429':
          $ref: '#/components/responses/RateLimited'
      operationId: postWsListings
      x-operation-id-source: derived
  /ws/listings/{listingId}:
    parameters:
    - in: path
      name: listingId
      description: Unique listing ID provided by Back Market. The UUID format is preferred.
      required: true
      example: da72cf47-1b1f-434a-9224-1f8684ac1bd4
      schema:
        oneOf:
        - type: string
          format: uuid
        - type: integer
    - name: Accept-Language
      in: header
      description: 'Select what market will be used to apply filters and export data.

        Passed as the language code related to this market.

        '
      required: false
      example: fr-fr
      schema:
        $ref: '#/components/schemas/Locale'
    get:
      tags:
      - Listings
      x-tier: 1
      summary: Get specific listing
      description: 'Retrieve a specific `Listing` to check its information.


        ### Endpoint


        The 2 following endpoints provide exactly the same response:


        HTTP GET request: https://www.backmarket.fr/ws/listings/LISTING_ID


        Or working with a filter on:


        HTTP GET request: https://www.backmarket.fr/ws/listings/detail/


        If you don''t have either the sku nor the listing_id, you can retrieve

        them by:


        **GET** `https://www.backmarket.fr/ws/listings/`'
      security:
      - ApiKeyAuth: []
      - BasicAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/ListingPublic'
                - type: object
                  required:
                  - statuscode
                  properties:
                    statuscode:
                      type: integer
                      example: 200
        '400':
          description: Invalid inputs (bad type…).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseV1'
        '401':
          description: Unauthenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseV1'
        '403':
          description: Forbidden. Authenticated user is not a merchant.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseV1'
        '404':
          description: Listing not found, or it does not belong to the authenticated merchant.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseV1'
      operationId: getWsListingsByListingId
      x-operation-id-source: derived
    post:
      tags:
      - Listings
      x-tier: 1
      summary: Update specific listing
      description: 'It is possible to update some fields of a specific `Listing`. For example _you might want to add another country to the `Listing`. You might also need to change the price, comment or the available stock (quantity)._


        To put a `Listing` offline, just set its quantity to 0.


        The endpoint below provides the most efficient way to update a specific `Listing`, as the update will be taken into account in real-time. Yet, you can only update one `Listing` at a time on this endpoint as opposed to the endpoint to update several listings.


        If you work with other marketplaces, **DO NOT forget** to update your stocks on Back Market in order not to be compelled to cancel orders. We strongly penalize high cancellation rates in our algorithm, which allocates `Backbox`.


        Updating in real time is especially important when your stock for the listing is close to 0.


        When an order is made on Back Market, you don''t need to decrease the stock in our database since we decrease it automatically.


        You just need to specify field(s) you would like to change. All the others will be kept intact.'
      security:
      - ApiKeyAuth: []
      - BasicAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                price:
                  description: 'Price of the listing in the ''currency''. String format is prefered to avoid any issue related to

                    the floating-point number precision.

                    '
                  anyOf:
                  - type: string
                    example: '160.99'
                  - type: number
                    example: 160.99
                currency:
                  type: string
                  description: 'Currency of ''price'' in ISO 4217 code format.

                    If ''price'' is in the request, this field must match the currency of the market selected with

                    the ''Accept-Language'' header.

                    Defaults to EUR for the EU marketplace, USD for the US one. Thus this field is required for

                    markets where the currency is not these defaults.

                    '
                  example: EUR
                comment:
                  description: Comment. Maximum 500 characters.
                  type:
                  - string
                  - 'null'
                  example: This is an iPhone 6S - 64Go - Blue working with all operators
                warranty_delay:
                  description: Warranty period in months (12 months minimum).
                  anyOf:
                  - type: integer
                    example: 24
                  - type: string
                    example: '24'
                quantity:
                  description: Available stock.
                  anyOf:
                  - type: integer
                    example: 12
                  - type: string
                    example: '12'
                shipper_1:
                  $ref: '#/components/schemas/Shipper'
                shipper_display_1:
                  type:
                  - string
                  - 'null'
                  description: The displayed name for the shipper.
                  example: DHL Express
                shipping_delay_1:
                  description: Expected shipping delay in hours.
                  type:
                  - integer
                  - 'null'
                  example: 36
                shipping_price_1:
                  description: 'Price of the shipping option, using currency of listing.

                    String format is prefered to avoid any issue related to the floating-point number precision.

                    '
                  anyOf:
                  - type: string
                    example: '3.90'
                  - type: number
                    example: 3.9
                shipper_2:
                  $ref: '#/components/schemas/Shipper'
                shipper_display_2:
                  type:
                  - string
                  - 'null'
                  description: The displayed name for the shipper.
                  example: DHL Express
                shipping_delay_2:
                  description: Expected shipping delay in hours.
                  type:
                  - integer
                  - 'null'
                  example: 36
                shipping_price_2:
                  description: 'Price of the shipping option, using currency of listing.

                    String format is prefered to avoid any issue related to the floating-point number precision.

                    '
                  anyOf:
                  - type: string
                    example: '3.90'
                  - type: number
                    example: 3.9
                shipper_3:
                  $ref: '#/components/schemas/Shipper'
                shipper_display_3:
                  type:
                  - string
                  - 'null'
                  description: The displayed name for the shipper.
                  example: DHL Express
                shipping_delay_3:
                  description: Expected shipping delay in hours.
                  type:
                  - integer
                  - 'null'
                  example: 36
                shipping_price_3:
                  description: 'Price of the shipping option, using currency of listing.

                    String format is prefered to avoid any issue related to the floating-point number precision.

                    '
                  anyOf:
                  - type: string
                    example: '3.90'
                  - type: number
                    example: 3.9
                min_price:
                  description: 'Your minimum acceptable price. The BackPricer needs to be enabled in your seller configuration.

                    More information about BackPricer at

                    https://merchant-support.backmarket.com/hc/en-us/articles/4415101044370-How-to-use-the-BackPricer-

                    '
                  anyOf:
                  - type: string
                    example: '160.99'
                  - type: number
                    example: 160
      responses:
        '200':
          description: 'OK. Update processed.

            Note that some processing can be done asynchronously (Backbox, search indexing, etc).

            '
          content:
            application/json:
              schema:
                type: object
                required:
                - id
                - listing_id
                - backmarket_id
                - title
                - shippings
                - state
                - grade
                - quantity
                - currency
                - sku
                - publication_state
                - warranty_delay
                - price
                - comment
                - max_price
                - statuscode
                - min_price
                properties:
                  id:
                    type: string
                    format: uuid
                    description: Listing ID
                    example: 7a97a1b6-547e-4718-bc72-5b84aca91b09
                  listing_id:
                    type: integer
                    description: Listing ID (deprecated)
                    example: 4567
                  product_id:
                    type: string
                    format: uuid
                    description: Product ID
                    example: 6d4ad966-db97-4d88-b409-b28cc2a0f8c9
                  backmarket_id:
                    type: integer
                    description: Product ID (deprecated)
                    example: 42
                  title:
                    type: string
                    description: Product title
                    example: iPhone 6S - 64Go - Blue - Unlocked
                  shippings:
                    type: array
                    description: 'Shippings defined at listing level (if any). Does not include shippings defined

                      at category level nor the global ones.

                      '
                    items:
                      type: object
                      required:
                      - shipping_price
                      - shipping_delay
                      - shipper
                      - shipper_display
                      - country_code
                      properties:
                        shipping_price:
                          type: string
                          description: Price of the shipping option, using currency of listing.
                          example: '0.00'
                        shipping_delay:
                          type: integer
                          description: Expected shipping delay in hours.
                          example: 24
                        shipper:
                          type: string
                          description: The company that manages the delivery.
                          example: UPS
                        shipper_display:
                          type: string
                          description: The company that manages the delivery.
                          example: UPS
                        country_code:
                          type: string
                          description: 'The market where this shipping option is available. Passed as the

                            language code of this market.

                            '
                          example: it-it
                  state:
                    $ref: '#/components/schemas/ListingStateValue'
                  grade:
                    $ref: '#/components/schemas/AestheticGradeValue'
                  quantity:
                    description: Available stock.
                    type: integer
                    example: 12
                  currency:
                    type: string
                    description: Currency of 'price'
                    example: EUR
                  sku:
                    description: SKU provided by the seller on listing creation.
                    type: string
                    example: IPHONE_6S_64GO_BLUE_CORRECT
                  publication_state:
                    type: integer
                    example: 2
                    enum:
                    - 0
                    - 1
                    - 2
                    - 3
                    - 4
                  warranty_delay:
                    description: Warranty period in months (12 months minimum).
                    type: integer
                    example: 24
                  price:
                    type: string
                    description: Price of the listing in the 'currency'
                    example: '160.99'
                  comment:
                    type:
                    - string
                    - 'null'
                    example: This is an iPhone 6S - 64Go - Blue working with all operators
                    description: Comment. Maximum 500 characters.
                  max_price:
                    type: string
                    description: Maximum allowed price for this listing, or it will not be online.
                    example: '199.90'
                  shippings_response:
                    type: array
                    description: Success and failure messages related to processing of shippings data.
                    items:
                      type: string
                      example: Shipping method 2 (ACME Company) updated
                  statuscode:
                    type: integer
                    example: 200
                  min_price:
                    type:
                    - string
                    - 'null'
                    description: Minimum acceptable price for the Backpricer.
                    example: '160.99'
        '400':
          description: Request data is invalid. A required field might be missing.
          content:
            application/json:
              schema:
                type: string
                description: An error message
                example: parameter catalog not found
        '401':
          description: Unauthenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseV1'
        '403':
          description: Forbidden. This ingestion channel could be disabled for the merchant.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseV1'
        '404':
          description: Listing not found, or it does not belong to the authenticated merchant.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseV1'
        '429':
          $ref: '#/components/responses/RateLimited'
      operationId: postWsListingsByListingId
      x-operation-id-source: derived
  /ws/listings/detail:
    parameters:
    - in: query
      name: sku
      description: A listing's SKU provided by the seller on listing creation.
      required: false
      example: THEMODEL_RED
      schema:
        type: string
    - in: query
      name: listing_id
      description: Unique listing ID provided by Back Market. The UUID format is preferred, see 'id'.
      required: false
      example: 123
      schema:
        type: integer
    - in: query
      name: id
      description: Unique listing ID provided by Back Market.
      required: false
      example: ceb5f83a-50d5-4d3b-85a4-a5da80abb64e
      schema:
        type: string
        format: uuid
    - name: Accept-Language
      in: header
      description: 'Select what market will be used to apply filters and export data.

        Passed as the language code related to this market.

        '
      required: false
      example: fr-fr
      schema:
        $ref: '#/components/schemas/Locale'
    get:
      tags:
      - Listings
      x-tier: 1
      summary: Get listing details
      description: 'Retrieve a specific `Listing` to check its information.


        ### Endpoint


        The 2 following endpoints provide exactly the same response:


        HTTP GET request: https://www.backmarket.fr/ws/listings/LISTING_ID


        Or working with a filter on:


        HTTP GET request: https://www.backmarket.fr/ws/listings/detail/


        If you don''t have either the sku nor the listing_id, you can retrieve

        them by:


        **GET** `https://www.backmarket.fr/ws/listings/`'
      security:
      - ApiKeyAuth: []
      - BasicAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/ListingPublic'
                - type: object
                  required:
                  - statuscode
                  properties:
                    statuscode:
                      type: integer
                      example: 200
        '400':
          description: Invalid inputs (bad type…).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseV1'
        '401':
          description: Unauthenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseV1'
        '403':
          description: Forbidden. Authenticated user is not a merchant.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseV1'
        '404':
          description: Listing not found, or it does not belong to the authenticated merchant.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseV1'
      operationId: getWsListingsDetail
      x-operation-id-source: derived
components:
  responses:
    RateLimited:
      description: Too many requests. Client has been rate limited.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponseV1'
  schemas:
    Locale:
      pattern: ^[a-z]{2}-[a-z]{2}$
      type: string
    AestheticGradeValue:
      type: string
      description: Aethestic grade.
      example: EXCELLENT
      enum:
      - PREMIUM
      - EXCELLENT
      - VERY_GOOD
      - GOOD
      - FAIR
      - STALLONE
    ListingPublic:
      properties:
        backmarket_id:
          description: Deprecated product ID. Please use the UUID format, see field 'product_id'.
          example: 42
          type: integer
        comment:
          description: Comment. Maximum 500 characters.
          example: This is an iPhone 6S - 64Go - Blue working with all operators
          type:
          - string
          - 'null'
        currency:
          description: Currency of 'price'
          example: EUR
          type: string
        id:
          description: Listing ID
          example: 7a97a1b6-547e-4718-bc72-5b84aca91b09
          type: string
          format: uuid
        listing_id:
          description: Listing ID (deprecated). Please use the UUID format, see field 'id'.
          example: 4567
          type: integer
        max_price:
          description: Maximum allowed price for this listing, or it will not be online.
          example: '199.90'
          type: string
        min_price:
          description: Minimum acceptable price for the Backpricer.
          example: '160.99'
          type:
          - string
          - 'null'
        price:
          description: Price of the listing in the 'currency'
          example: '160.99'
          type: string
        product_id:
          type: string
          description: Product ID
          format: uuid
          example: 7a97a1b6-547e-4718-bc72-5b84aca91b09
        publication_state:
          enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          example: 2
          type: integer
        quantity:
          description: Available stock.
          example: 12
          type: integer
        shippings:
          description: 'Shippings defined at listing level (if any). Does not include shippings defined

            at category level nor the global ones.

            '
          items:
            properties:
              country_code:
                description: 'The market where this shipping option is available. Passed as the

                  language code of this market.

                  '
                example: it-it
                type: string
              shipper:
                description: The company that manages the delivery.
                example: UPS
                type: string
              shipper_display:
                description: The company that manages the delivery.
                example: UPS
                type: string
              shipping_delay:
                description: Expected shipping delay in hours.
                example: 24
                type: integer
              shipping_price:
                description: Price of the shipping option, using currency of listing.
                example: '0.00'
                type: string
            required:
            - shipping_price
            - shipping_delay
            - shipper
            - shipper_display
            - country_code
            type: object
          type: array
        sku:
          description: SKU provided by the seller on listing creation.
          example: IPHONE_6S_64GO_BLUE_CORRECT
          type: string
        state:
          $ref: '#/components/schemas/ListingStateValue'
        grade:
          $ref: '#/components/schemas/AestheticGradeValue'
        title:
          description: Product title
          example: iPhone 6S - 64Go - Blue - Unlocked
          type: string
        warranty_delay:
          description: Warranty period in months (12 months minimum).
          example: 24
          type: integer
        new_battery:
          description: 'The device has a new battery. Values (case-insensitive): “true” if the device has a new battery, else “false”.

            Seller must be eligible to sell new battery devices to be able to list such listings.'
          default: false
          example: true
          type: boolean
      required:
      - id
      - listing_id
      - product_id
      - backmarket_id
      - title
      - shippings
      - state
      - grade
      - quantity
      - currency
      - sku
      - publication_state
      - warranty_delay
      - price
      - comment
      - min_price
      - max_price
      type: object
    Error:
      description: ''
      properties:
        code:
          type: string
        data:
          type: object
        docLink:
          type: string
        message:
          type: string
        target:
          type: string
      required:
      - code
      - message
      type: object
    Shipper:
      type:
      - string
      - 'null'
      description: 'Name of the shipper, the company that manages the delivery.

        Some shippers may not be available in all countries.

        Call us to add your shipper.

        '
      example: DHL Express
      enum:
      - Allied Express
      - Aramex Australia
      - Australia Post
      - Australia Post Express
      - Austrian Post
      - BPost
      - BRT
      - Chronopost
      - Chronopost Express
      - ColisPrivé
      - Colissimo
      - Correos
      - Correos Express
      - Couriers Please
      - CTT
      - Cubyn
      - Cubyn Express
      - DB Schenker
      - Deutsche Post
      - DHL
      - DHL DE
      - DHL Express
      - DHL  EXPRESS
      - DHL NL
      - DHL Parcel Spain
      - DHL SP
      - DPD
      - DPD Benelux
      - DPD DE
      - DPD FR
      - DPD International
      - DPD UK
      - DPD UK Express
      - DTDC Australia
      - FedEx
      - FedEx - 2Days
      - FedEx Express
      - FedEx International
      - FedEx - Overnight
      - Geodis
      - Girard Agediss - Livraison dans la pièce de votre choix sur RDV
      - GLS
      - GLS - DE
      - GLS - FR
      - GLS International
      - GLS - IT
      - GLS-SPAIN
      - GLS Spain Express
      - Hermes - DE
      - Hermes - UK
      - Japan Post
      - Livraison au pied du camion
      - Livraison dans la pièce de votre choix
      - Logoix
      - MRW
      - Murfy transporteur
      - NACEX
      - ParcelForce Express
      - Parcelforce (Worldwide)
      - Parcelpoint Pty Ltd
      - Poste Italiane
      - Post NL
      - Private Transporter
      - Royal Mail
      - Royal Mail Express
      - Sagawa
      - Seino
      - Sendle
      - Seur
      - Socolissimo
      - Star Track Express
      - TIPSA
      - TIPSA Express
      - TNT
      - TNT Australia
      - TNT Express
      - Tourline
      - UPS
      - UPS 2 days
      - UPS 2nd Day Air
      - UPS Express
      - UPS express save
      - UPS Ground
      - UPS next day
      - UPS Overnight
      - UPS standard
      - USPS
      - USPS Express
      - USPS - First Class
      - USPS - Priority Mail
      - USPS - Priority Mail Express
      - VIR
      - Yamato
      - Zeleris
      - Other
    ErrorResponseV1:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/Error'
        requestId:
          description: Let you trace errors in applicative logs
          type: string
      required:
      - error
    ListingStateValue:
      type: integer
      description: 'Deprecated, please use the "grade" field. Aethestic grade.

        Values: 9 (Premium), 0 (Excellent), 1 (Very good), 2 (Good), 3 (Fair), 4 (Stallone)

        '
      example: 4
      enum:
      - 9
      - 0
      - 1
      - 2
      - 3
      - 4
  parameters:
    Page:
      description: The page number for pagination
      example: 2
      in: query
      name: page
      required: false
      schema:
        default: 1
        type: integer
    PageSize:
      description: The page size for pagination
      example: 20
      in: query
      name: page-size
      required: false
      schema:
        default: 10
        type: integer
        maximum: 50
  securitySchemes:
    ApiKeyAuth:
      in: header
      name: Authorization
      type: apiKey
      description: 'Token authentication is done with Basic authentication.

        Prefix the value with \"Basic\" and use the token you created in the backoffice in the Integrations option page.'
    BasicAuth:
      type: http
      scheme: basic
