openapi: 3.2.0
info:
  version: 0.1.1
  title: Back Market - API Guidelines Categories API
  description: '## Table of contents


    1.'
  contact:
    name: Seller Support Center
    url: https://merchant-support.backmarket.com/hc/en-us
    x-slack: NA
    email: NA@NA.com
servers:
- url: https://preprod.backmarket.co.jp
  description: Preprod - AP
- url: https://www.backmarket.co.jp
  description: Prod - AP
- url: https://preprod.backmarket.fr
  description: Preprod - EU
- url: https://www.backmarket.fr
  description: Prod - EU
- url: https://preprod.backmarket.com
  description: Preprod - NA
- url: https://www.backmarket.com
  description: Prod - NA
tags:
- name: Categories
paths:
  /ws/category/tree:
    parameters:
    - name: Accept-Language
      in: header
      description: 'Select what market will be used to apply filters and export data.

        Passed as the language code related to this market.

        '
      required: false
      example: fr-fr
      schema:
        $ref: '#/components/schemas/Locale'
    get:
      summary: Get category tree
      description: '## Taxonomy


        ### Categorization & products


        `Categories` tree diagram :


        Diagram of matching `Product` with a leaf `Category` :


        The matching of a `Product` to a `Category` is made using its `marketplace_category_id`.'
      x-tier: 3
      tags:
      - Categories
      operationId: get-bm-catalog-category
      security:
      - ApiKeyAuth: []
      - BasicAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CategoryTree'
        '401':
          description: Unauthenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseV2'
        '403':
          description: Forbidden. Authenticated user is not a merchant.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseV2'
  /ws/category/tree/{categoryId}:
    parameters:
    - in: path
      name: categoryId
      required: true
      example: 1
      schema:
        type: integer
    - name: Accept-Language
      in: header
      description: 'Select what market will be used to apply filters and export data.

        Passed as the language code related to this market.

        '
      required: false
      example: fr-fr
      schema:
        $ref: '#/components/schemas/Locale'
    get:
      summary: Get category branch
      description: 'Retrieve a specific `Category` branch. This will only give you access to what''s below on the branch. This means that you won''t be able to access the parent `Categories`, but only children `Categories` and `Attributes`.


        You can retrieve `Attributes` from a specific `leaf Category` with the following endpoint, by providing its category ID.'
      x-tier: 3
      tags:
      - Categories
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryTree'
        '401':
          description: Unauthenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseV1'
        '403':
          description: Forbidden. Authenticated user is not a merchant.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseV1'
        '404':
          description: Category not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseV1'
      operationId: getWsCategoryTreeByCategoryId
      x-operation-id-source: derived
components:
  schemas:
    Locale:
      pattern: ^[a-z]{2}-[a-z]{2}$
      type: string
    Error:
      description: ''
      properties:
        code:
          type: string
        data:
          type: object
        docLink:
          type: string
        message:
          type: string
        target:
          type: string
      required:
      - code
      - message
      type: object
    ErrorResponseV1:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/Error'
        requestId:
          description: Let you trace errors in applicative logs
          type: string
      required:
      - error
    ErrorResponseV2:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
          minItems: 1
        requestId:
          type: string
          description: Let you trace errors in applicative logs
      required:
      - errors
    CategoryTree:
      type: object
      properties:
        category_id:
          type: integer
          example: 1
        category_name:
          type: string
          example: Smartphone
        marketplace_category_id:
          type: integer
          example: 123
        is_leaf:
          type: boolean
          example: false
        attributes:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
                example: color
              field_name:
                type: string
                example: Couleur
              type:
                type: integer
                description: '- 0: DECIMAL, 1:INTEGER, 2:STRING, 3:MULTIPLE_CHOICE

                  '
                example: 2
                enum:
                - 0
                - 1
                - 2
                - 3
              allowed_values:
                type: string
                description: List of allowed values for the given product attribute, separated by commas.
                example: Unlocked GSM, Unlocked CMDA,AT&T,Verizon,Sprint,T Mobile,Boost Mobile,No SIM slot
              required:
                type: boolean
                example: true
            required:
            - field
            - field_name
            - type
            - allowed_values
            - required
      required:
      - category_id
      - category_name
      - marketplace_category_id
      - is_leaf
      - childrens
      - attributes
  securitySchemes:
    ApiKeyAuth:
      in: header
      name: Authorization
      type: apiKey
      description: 'Token authentication is done with Basic authentication.

        Prefix the value with \"Basic\" and use the token you created in the backoffice in the Integrations option page.'
    BasicAuth:
      type: http
      scheme: basic
